.button {
  background: $blue;
  border: none;
  color: white;
  font-size: $font-size-large;
  font-weight: 300;
  display: inline-block;
  padding: $s-size;
  text-decoration: none;
  line-height: 1;
  -webkit-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
  box-shadow: 3px 3px 5px 1px rgba(0,0,0,0.75);
}
.button__facebook{
  background: aqua;
}
.button:hover {background-color: $active-blue}

.button:active {
  background-color: $pressed-blue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button--link {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button--link:hover {
  background-color: $active-blue;
  color: red;
  background: none;
}

.button--link:active {
  background-color: $pressed-blue;
  background: none;
  box-shadow: none;
  transform: translateY(4px);
}

.button--secondary {
  background-color: red;
}